/*
----------------------------------------
SYSTEM CONFIGURATION
----------------------------------------
*/

$dsPrefix ?= 'hail'
$dsVarPrefix ?= Qn('--' $dsPrefix '-')
$dsAttrPrefix ?= Qn('data-' $dsPrefix '-')
$dsAllowedTokenDomains ?= 'color',
                          'color-control',
                          'c', // color role
                          'text',
                          't', // text role
                          'size',
                          'size-control',
                          's', // size role
                          'bp', // breakpoint role
                          'r', // radius role
                          'bd', // border role
                          'sd', // shadow role
                          'gd', // gradient role
                          'ts', // transition role
                          'z', // z-index role
                          'o', // opacity role
                          'v', // defined-within-component variable role (avoid collisions with global tokens)
                          'd-*' // custom domain (eg: a component role that needs to be globally available so other components can use it)
$dsShouldAllowTokenOverwrites ?= false
$dsPresets ?= {
  mode: 'opt-out', // 'opt-in' (include only listed) | 'opt-out' (include all except listed)
  listed: (),
}

/*
----------------------------------------
TOKEN REGISTRY
----------------------------------------
*/

// pattern: only lowercase letters, numbers, and hyphens.
$dsTokenSegmentRegex ?= '[a-z0-9]+(-[a-z0-9]+)*'
$dsDefaultTokenDemo ?= '"domain:name" or "domain:name:suffix"'
$dsDefaultTokenRegex ?= Qn('^' $dsTokenSegmentRegex ':' $dsTokenSegmentRegex '(:' $dsTokenSegmentRegex ')?$')
$dsAssignmentTokenDemo ?= '"domain:name"'
$dsAssignmentTokenRegex ?= Qn('^' $dsTokenSegmentRegex ':' $dsTokenSegmentRegex '$')
$dsAllowedTokenDomainDemo ?= Qs('Domain must be in "$dsAllowedTokenDomains". Token must start with one of:' $dsAllowedTokenDomains)
$dsAllowedTokenDomainRegex ?= dsResolveAllowedTokenDomainRegex()

$dsTokens ?= {
  // tokens follow default token pattern
  // 'domain:name:[suffix]': value
}

$dsTokenAssignments ?= {
  // tokens follow assignments token pattern
  // 'domain:name': CSS declarations object
}

/*
----------------------------------------
CSS RULE REGISTRY
----------------------------------------
*/

$dsLayers ?= ('reset' 'base') // flushing order for layered mixins

// RulesRegistry = { emitter: Mixin, scoping: 'scoped' | 'unscoped', layer: Layer }[]
$dsRules ?= ({ layer: 'never-used' } { layer: 'never-used' })
// ...initialized with two dummy items to prevent stylus bug (https://codepen.io/mareszhar/pen/azmKzQN)
