// UseFlex(ff?: FlexFlow, g?: Unit | TokenOrVar, jc?: FlexJustify, ai?: FlexAlign, ac?: FlexAlign, inline?: boolean, logs?: string): CSS Flexbox
UseFlex(ff = null, g = null, jc = null, ai = null, ac = null, inline = false, logs = '')
  $logs = dsTrace(logs, 'UseFlex', Qs('@received -> "Flex Flow":' ff '"Gap":' g '"Justify Content":' jc '"Align Content":' ac '"Align Items":' ai '"Inline":' inline))
  display: inline ? inline-flex : flex
  if ff
    dsExpectAcceptedOption(ff, 'row' 'row-reverse' 'column' 'column-reverse', $logs)
    flex-flow: Uq(ff)
  if g  
    gap: dsIsString(g) ? dsResolveToVarRef(g, $logs) : Unit(g, logs: $logs)
  if jc
    dsExpectAcceptedOption(jc, 'flex-start' 'flex-end' 'center' 'space-between' 'space-around' 'space-evenly', $logs)
    justify-content: Uq(jc)
  if ai
    dsExpectAcceptedOption(ai, 'flex-start' 'flex-end' 'center' 'stretch' 'baseline', $logs)
    align-items: Uq(ai)
  if ac
    dsExpectAcceptedOption(ac, 'flex-start' 'flex-end' 'center' 'stretch' 'baseline', $logs)
    align-content: Uq(ac)