/*
----------------------------------------
[OPTIONAL]: CONFIG HAIL
----------------------------------------
*/

// example of how to change the default prefix

$dsPrefix = 'hail-demo' // -> will result in vars like: --hail-demo-token-name

// example of how to opt-out of a preset

$dsPresets = {
  mode: 'opt-out',
  listed: ('resets'), // -> resets will not be included
}

/*
----------------------------------------
IMPORT HAIL
----------------------------------------
*/

@import '@mszr/hail-styl'
// PS: it's also possible to import `@mszr/hail-styl/system` and `@mszr/hail-styl/design` separately to do something in between.

/*
----------------------------------------
[OPTIONAL]: CUSTOMIZE & EXTEND HAIL
----------------------------------------
*/

// customize...

$dsShouldPreventTokenOverwrites = false

dsSetColorChannelToken('color:accent:h', 164)
dsSetToken('cr:bg', dsColor('color:matte', e: 0.1, cRel: 0.4))
dsSetToken('cr:primary', dsColor('color:accent', e: 0.7, cRel: -0.2))

$dsShouldPreventTokenOverwrites = true

// extend...

body
  border: Var('sr:1p') solid Var('cr:primary')
  padding: Var('sr:8p')