/*
----------------------------------------
[OPTIONAL]: CONFIG HAIL
----------------------------------------
*/

// example of how to change the default prefix

$dsPrefix = DS_PREFIX // -> using value from vite. will result in vars like: --hail-demo-token-name

// example of how to opt-out of a preset

$dsPresets = {
  mode: 'opt-out',
  listed: ('resets'), // -> resets will not be included
}

/*
----------------------------------------
IMPORT HAIL
----------------------------------------
*/

@import '../index.styl'
// @import '@mszr/hail-styl'
// PS: it's also possible to import `@mszr/hail-styl/system` and `@mszr/hail-styl/design` separately to do something in between.

/*
----------------------------------------
[OPTIONAL]: CUSTOMIZE & EXTEND HAIL
----------------------------------------
*/

// customize...

$dsShouldAllowTokenOverwrites = true

dsSetColorChannelToken('color:accent:h', 164)
dsSetToken('c:bg', dsColor('color:matte', e: 0.1, cRel: 0.4))
dsSetToken('c:primary', dsColor('color:accent', e: 0.7, cRel: -0.2))

$dsShouldAllowTokenOverwrites = false

// extend...

body
  border: Var('s:1p') solid Var('c:primary')
  padding: Var('s:8p')