/*
----------------------------------------
SPACE CONTROLS
----------------------------------------
*/

dsSetToken('space:control:base-size', 8)
dsSetToken('space:control:rem-target', Calc(Var('space:control:base-size') '*' 2)) // we aim for 16px
dsSetToken('space:control:root-font-size', Calc(Var('space:control:rem-target') '/' 16 '*' 100%)) // divide by 16 (default browser font size) and multiply by 100% to return a percentage (sensitive to user's browser font-size preferences)
dsSetToken('space:control:bem', Calc(Var('space:control:base-size') '/' Var('space:control:rem-target') '*' 1rem)) // base size, but derived from rem so it's sensitive to user's browser font-size preferences (called "bem")

/*
----------------------------------------
COLOR CONTROLS
----------------------------------------
*/

dsSetFactorToken('color:control:light-scheme-most-elevated-l', 0)
dsSetFactorToken('color:control:dark-scheme-most-elevated-l', 1)
dsSetToken('color:control:most-elevated-l', Var('color:control:light-scheme-most-elevated-l'))
dsSetFactorToken('color:control:dark-scheme-saturation-factor', 0.9)
dsSetFactorMinMaxTokens('color:control:min-l', 0.08, 'color:control:max-l', 0.96)
dsSetToken('color:control:l-range', Calc(Var('color:control:max-l') '-' Var('color:control:min-l')))
dsSetMinMaxTokens('color:control:min-c', 0, 'color:control:max-c', 0.3)
dsSetToken('color:control:c-ceiling', Var('color:control:max-c'))
dsSetToken('color:control:c-range', Calc(Var('color:control:c-ceiling') '-' Var('color:control:min-c')))
dsSetFactorToken('color:control:contrast-pivot-l', 0.65) // UseContrast will use white for base colors darker than this l.
