@require './system/utils/kit-primitives'

@require './system/utils/helpers-core'
@require './system/utils/setup-core'
@require './system/utils/kit-core'

@require './system/utils/helpers-size'
@require './system/utils/helpers-color'
@require './system/utils/setup-size'
@require './system/utils/setup-color'
@require './system/utils/kit-ui'

@require './system/utils/setup-generation'
@require './system/state'
