@require './system/utils/api-primitives'
@require './system/utils/helpers-core'
@require './system/utils/setup-core'
@require './system/utils/api-core'

@require './system/utils/helpers-size'
@require './system/utils/helpers-color'
@require './system/utils/setup-size'
@require './system/utils/setup-color'
@require './system/utils/api-layout'
@require './system/utils/api-color'

@require './system/utils/setup-generation'
@require './system/state'
