@require './system/utils/api-primitives'
@require './system/state'
@require './system/utils/helpers-core'
@require './system/utils/setup-core'
@require './system/utils/api-core'

@require './system/utils/helpers-space'
@require './system/utils/helpers-color'
@require './system/utils/setup-space'
@require './system/utils/setup-color'
@require './system/utils/api-space'
@require './system/utils/api-color'

@require './system/utils/setup-generation'